.card {
    margin: 0 auto;
    margin-top: 30px;
    max-width: 400px;
    background: rgb(34, 34, 34);
    padding: 10px;
    border: none;
    font-size: 25px;
}

.descrip {
    color: rgb(153, 152, 152);
}

.data {
    border-bottom: 1px solid red;
}

.col {
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
}