<div class="card text-white bg-dark mb-3" style="max-width: 700px;">
    <div style="margin-bottom: 5px;">
        <button (click)="back()" mat-raised-button color="warn">Back</button>
    </div>
    <div class="card-header">{{fence?.homeOwner}}</div>
    <div class="card-body">
        <div class="card-text">
            <div class="container">
                <div class="row">
                    <div class="col"><span class="descrip">Address:</span> {{fence?.address}}</div>
                    <div class="w-100"></div>
                    <div class="col"><span class="descrip">Date:</span> {{fence?.date | date:'longDate'}}</div>
                    <div class="col"> <span class="descrip">Builder:</span> {{fence?.builder}}</div>
                    <div class="w-100"></div>
                    <div class="col"><span class="descrip">Feet of Fence:</span> {{fence?.feetOfFence}}</div>
                    <div class="col"><span class="descrip">Height of Fence:</span> {{fence?.heightOfFence}}</div>
                    <div class="w-100"></div>
                    <div class="col"><span class="descrip">Type of Fence:</span> {{fence?.typeOfFence}}</div>
                    <div class="col"><span class="descrip">Gates:</span> {{fence?.gates}}</div>
                    <div class="w-100"></div>
                    <div class="col"><span class="descrip">Curb:</span> {{fence?.curb}}</div>
                    <div class="col"><span class="descrip">Stain:</span> {{fence?.stain}}</div>
                    <div class="w-100"></div>
                    <div class="col"><span class="descrip">B or C:</span> {{fence?.bOrC}}</div>
                    <div class="col"><span class="descrip">Price:</span> {{fence?.price | currency}}</div>
                </div>
            </div>
        </div>
    </div>
</div>