<div *ngIf="this.alert === false">
    <div class="nav-item" [routerLinkActive]="['link-active']">
        <a class="nav-link text-light" style="margin-top: 20px;" [routerLink]="['/fence']" mat-raised-button
            color="warn">Back
            to Fence List</a>
    </div><br>
    <form>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label class="label">Home Owner</label>
                <input [(ngModel)]="newFence.homeOwner" name="homeOwner" placeholder="Home Owner"
                    class="form-control" />
            </div><br>
            <div class="form-group col-md-4">
                <label class="label">Address</label>
                <input [(ngModel)]="newFence.address" name="address" placeholder="Address" class="form-control" />
            </div><br>
            <div class="form-group col-md-4">
                <label class="label">Date</label>
                <input [(ngModel)]="newFence.date" name="date" placeholder="Date" class="form-control" />
            </div><br>
            <div class="form-group col-md-4">
                <label class="label">Builder</label>
                <input [(ngModel)]="newFence.builder" name="builder" placeholder="Builder" class="form-control" />
            </div><br>
            <div class="form-group col-md-4">
                <label class="label">Feet of Fence</label>
                <input [(ngModel)]="newFence.feetOfFence" type="number" name="feetOfFence" placeholder="Feet of Fence"
                    class="form-control" />
            </div><br>
            <div class="form-group col-md-4">
                <label class="label">Height of Fence</label>
                <select [(ngModel)]="newFence.heightOfFence" type="number" name="heightOfFence" class="form-control">
                    <option [ngValue]=6>6</option>
                    <option [ngValue]=7>7</option>
                    <option [ngValue]=8>8</option>
                    <option [ngValue]=9>9</option>
                    <option [ngValue]=10>10</option>
                </select>
            </div><br>
            <div class="form-group col-md-4">
                <label class="label">Type of Fence</label>
                <select [(ngModel)]="newFence.typeOfFence" type="text" name="typeOfFence" class="form-control">
                    <option *ngFor="let type of typeConstants" [ngValue]="type">{{type}}
                    </option>
                </select>
            </div><br>
            <div class="form-group col-md-4">
                <label class="label">Gates</label>
                <input [(ngModel)]="newFence.gates" type="number" name="gates" placeholder="Gates"
                    class="form-control" />
            </div><br>
            <div class="form-group col-md-4">
                <label class="label">Curb</label>
                <select [(ngModel)]="newFence.curb" name="curb" class="form-control">
                    <option [ngValue]="true" selected>
                        True
                    </option>
                    <option [ngValue]="false">
                        False
                    </option>
                </select>
            </div>
            <div class="form-group col-md-4">
                <label class="label">Stain</label>
                <select [(ngModel)]="newFence.stain" name="stain" class="form-control">
                    <option [ngValue]="true">
                        True
                    </option>
                    <option [ngValue]="false">
                        False
                    </option>
                </select>
            </div>
            <div class="form-group col-md-4">
                <label class="label">Brian or Chad</label>
                <select [(ngModel)]="newFence.bOrC" name="bOrC" placeholder="B or C" class="form-control">
                    <option *ngFor="let bc of brianChad" [ngValue]="bc">{{bc}}</option>
                </select>
            </div><br>
            <div class="form-group col-md-4">
                <label class="label">Price</label>
                <input [(ngModel)]="newFence.price" type="number" name="price" placeholder="Price"
                    class="form-control" />
            </div><br>
            <div class="form-group col-md">
                <button (click)="save()" (click)="alerting()" mat-raised-button color="warn"
                    class="form-control">Add</button>
            </div>
        </div>
    </form>
</div>

<div *ngIf="this.alert === true">
    <div class="alert alert-dark" role="alert" style="margin-top: 50px;">
        <h1>Your new fence was added!</h1>
        <button (click)="back()" mat-raised-button color="warn">Back to fence list</button>
    </div>
</div>