<div>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" width="50%">

    <ng-container matColumnDef="joke">
      <th mat-header-cell *matHeaderCellDef> Joke </th>
      <td mat-cell *matCellDef="let element"> {{element.joke}} </td>
    </ng-container>

    <ng-container matColumnDef="punchline">
      <th mat-header-cell *matHeaderCellDef> Joke </th>
      <td mat-cell *matCellDef="let element"> {{element.joke}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>